body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

#chat-container {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: auto;
    position: relative;
}

#messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

#message-input {
    width: calc(100% - 80px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

#send-button {
    padding: 10px;
}

#reset-button {
    position: absolute;
    top: 19px;  
    right: 20px;
}